<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Homepage</p>
    
    <div class="heading">
    	<% if (results == null) { %>
    	   <form method="get" action="/vote">	   				
    	   	No results!
				<br><br><br>
				
			    <button type="submit" class="btn btn-warning btn-lg">See Results</button>
			</form>		
        <% } 
           else { %>
           Render results!                
				<% for(var i=0; i<results.length; i++) { %>
					<p><%= results[i] %></p>
				<% } %>
		<% } %>	
    </div>
    
  </body>
</html>
